VITE_WALLETCONNECT_PROJECT_ID=demo
VITE_HOODI_RPC=https://rpc.hoodi.ethpandaops.io
VITE_BASE_SEPOLIA_RPC=https://sepolia.base.org
VITE_SXUA_ADDRESS=0x
VITE_SXLAUNCHPAD_ADDRESS=0x
VITE_SXP_ADDRESS=0x
VITE_SXEP_ADDRESS=0x
VITE_USDC_ADDRESS=0x
VITE_USDT_ADDRESS=0x
VITE_DAI_ADDRESS=0x
